.btn-links{
    padding: 10px 25px !important;
    font-size: 1.1rem;
    font-weight: 500;
    color: #00634b;
    border: 3px solid #00634b;
    border-radius: 15px;
    background-color: #a8e8d8;
}